@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    font-family: "Vazir", serif, sans-serif;
    font-size: 0.9rem !important;
    line-height: 1.6;
}

button[data-bs-toggle="modal"] {
    /*background-color: rgb(207, 226, 255);*/
    background-color: rgb(120, 159, 226);
}


#w-temp, #w-pressure, #w-humidity, #w-wind-speed, #w-long, #w-lat {
    color: rgb(13, 110, 253) !important;
}